@font-face {
    font-family: "Pokemon";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    }

.startButton {
    margin: 24px;
    width: 70px;
    height: 30px;
    background: lightgrey;
    animation: startButton 2s ease-out infinite;
  }
  
  @keyframes startButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.7, 1.7);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  

/* -------------------FOR FIRSTSCENE------------------- */

  body {
      background-image: url('https://wallpaperaccess.com/full/8614.jpg');
      margin: 0 auto;
      width: 850px;
      height: 1000px;
  }
  /*background-image: url("https://wallpaperaccess.com/full/8611.jpg");;*/

  .firstScene  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .startButton {
      text-align: center;
      vertical-align: center;
  }


/* -------------------FOR SECONDSCENE------------------- */


  #secondScene {
      text-align: center;
  }

  #squareContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.square {
    height: 120px;
    width: 120px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    border: 5px solid darkcyan;
    margin: 10px;

}

.square:focus {
  background-color: #3e8e41;
  box-shadow: 0 5px yellowgreen;
  transform: translateY(4px);

}

.secondSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 100px;
    height: 30px;
    background: lightgrey;
    animation: secondSceneButton 2s ease-out infinite;
  }
  
  @keyframes secondSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  /* -------------------FOR THIRDSCENE------------------- */

  #nameBox {
      height: 40px;
      width: 150px;
  }

  #thirdScene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .pokemontrainer {
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    border: 5px solid grey;
    margin: 10px;
  }

  .thirdSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 100px;
    height: 30px;
    background: lightgrey;
    animation: thirdSceneButton 2s ease-out infinite;
  }
  
  @keyframes thirdSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  /* -------------------FOR THIRDSCENE------------------- */

  #thirdScene {
    text-align: center;
}
  .forthSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 100px;
    height: 30px;
    background: lightgrey;
    animation: forthSceneButton 2s ease-out infinite;
  }
  
  @keyframes forthSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

    /* -------------------FOR FORTHSCENE------------------- */

  #forthScene {
    text-align: center;

  }

  #battleLayout {
      vertical-align: center;
      margin: auto
  }

    /* -------------------FOR FORTHSCENE------------------- */

    .skillButtons {
      width:100px;
      height:40px;
    }



    .skillButton {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: skillButton 2s ease-out infinite;
    }
    
    @keyframes skillButton {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    .backpack {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: backpack 2s ease-out infinite;
    }
    
    @keyframes backpack {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }