/* @font-face {
    font-family: "Pokemon";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    } */

.startButton {
    margin: 24px;
    width: 70px;
    height: 30px;
    background: lightgrey;
    animation: startButton 2s ease-out infinite;
  }
  
  @keyframes startButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.7, 1.7);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  

/* -------------------FOR FIRSTSCENE------------------- */

  body {
      font-family: 'Pokemon';
      color: #0F5685;
      background-image: url('https://wallpaperaccess.com/full/8614.jpg');
      margin: 0 auto;
      width: 850px;
      height: 1000px;
  }
  /*background-image: url("https://wallpaperaccess.com/full/8611.jpg");;*/

  .firstScene  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .startButton {
      text-align: center;
      vertical-align: center;
  }


/* -------------------FOR THIRD SCENE------------------- */


  #thirdScene {
      text-align: center;
  }

  #squareContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.square {
    height: 120px;
    width: 120px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    border: 5px solid #2874A6 ;
    margin: 10px;

}

.square:hover {
  filter: brightness(90%);
}

.square:focus {
  background-color: #3e8e41;
  box-shadow: 0 5px #F4D03F;
  transform: translateY(4px);

}

.thirdSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 100px;
    height: 30px;
    background: lightgrey;
    animation: thirdSceneButton 2s ease-out infinite;
  }
  
  @keyframes thirdSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.6, 1.6);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  /* -------------------FOR SECOND SCENE------------------- */

  #nameBox {
      height: 40px;
      width: 150px;
  }

  #secondScene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .pokemontrainer {
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    border: 5px solid grey;
    margin: 10px;
  }

  .secondSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 150px;
    height: 30px;
    background: lightgrey;
    animation: secondSceneButton 2s ease-out infinite;
  }
  
  @keyframes secondSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  /* -------------------FOR THIRDSCENE------------------- */

  #thirdScene {
    text-align: center;
}
  .forthSceneButton {
    text-align: center;
    vertical-align: center;
    margin: 24px;
    width: 100px;
    height: 30px;
    background: lightgrey;
    animation: forthSceneButton 2s ease-out infinite;
  }
  
  @keyframes forthSceneButton {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

    /* -------------------FOR FORTHSCENE------------------- */

  #forthScene {
    text-align: center;
  }


    /* -------------------FOR FIGHTING SCENE------------------- */

    .skillButtons {
      width:100px;
      height:40px;
    }



    .skillButton {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: skillButton 2s ease-out infinite;
    }
    
    @keyframes skillButton {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    .backpack {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: backpack 2s ease-out infinite;
    }
    
    @keyframes backpack {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    .run {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: run 2s ease-out infinite;
    }
    
    @keyframes run {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    .pokemon {
      text-align: center;
      vertical-align: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: pokemon 2s ease-out infinite;
    }
    
    @keyframes pokemon {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    #battleLayout {
      background-color: #CCD0D5;
      height: 800px;
      border-radius: 10%;
    }

    #enemyBattleLayout {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      padding: 20px;
      justify-content: space-evenly;
    }

    #myBattleLayout {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      justify-content: space-evenly;
    }

    .skillsDropdown {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      justify-content: space-evenly;
      align-items: center;
    }

    .skillButton {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  
    }

    .skillButtons {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      width: 100px;
      height: 30px;
      justify-content: space-evenly;
      align-items: center;
  
    }
    
    .pokemon {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .run {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .backpack {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .potion {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      width: 100px;
      height: 30px;
      justify-content: space-evenly;
      align-items: center;
  
    }

   .winPop {
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 24px;
      width: 100px;
      height: 30px;
      background: lightgrey;
      animation: winPop 2s ease-out infinite;
    } 

    
    @keyframes winPop {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.3, 1.3);
      }
      100% {
        transform: scale(1, 1);
      }
    }

    .backgroundMusic {
      display: none;
      width: 85px;
      height: 80px;
    }

    #myMonsterImage {
      transform: scaleX(-1);
      border-radius: 10%;
   
    }

    .animate {
      position: relative;
      animation-name: example;
      animation-duration: 0.7s;
    }

    @keyframes example {
      0%   {background-color:red; left:0px; top:0px;}
      50%  {background-color:blue; left:350px; top:-200px;}
      100% {background-color:red; left:0px; top:0px;}
    }

    #enemyMonsterImage {
      border-radius: 10%;
    }

    .animate2 {
      position: relative;
      animation-name: example2;
      animation-duration: 0.7s;
    }
    
    @keyframes example2 {
      0%   {background-color:red; left:0px; top:0px;}
      50%  {background-color:blue; left:-350px; top:200px;}
      100% {background-color:red; left:0px; top:0px;}
    }




    #popupBox {
    width: 310px;
    height: 100px; 
    border-radius: 5%;
      background-color: lightpink;
    }


    #popupBoxContent {

  

    }

    #enemyHealthContainer {
      background-color: green;
      width: 250px;
      height: 20px;
      z-index: 1;
      left: 200px;
    }

    #myHealthContain {
      background-color: green;
      width: 250px;
      height: 20px;
      z-index: 1;
      left: 200px;
    }



      
    